/* ***************Navbar Start***************/
.nav1-bg{
    position: relative;
    background-color: #2F2FA2;
    width: 1348px;
    height: 625px;
    top: -10px;
  }
  
  .NAV1{
      background-color:#242582;
      width: 1400px;
      height: 70px;
      padding: 10px;
      box-shadow: 8px 2px 8px #99738E;
  }
  
  .title1 a{
    position: absolute;
    top: 20px;
    left: 80px;
    color: #EDF5E1;
    font-size: 20px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav1 a{
    position: absolute;
    top: 20px;
    left: 670px;
    color: #EDF5E1;
    font-size: 20px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav1 a:hover{
      cursor: pointer;
      transition: 1s ease;
      color: #F64C72;
  }
  
  .nav2 a{
    position: absolute;
    top: 20px;
    left: 830px;
    color: #EDF5E1;
    font-size: 20px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav2 a:hover{
      cursor: pointer;
      transition: 1s ease;
      color: #F64C72;
  }
  
  .nav3 a{
    position: absolute;
    top: 20px;
    left: 990px;
    color: #EDF5E1;
    font-size: 20px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav3 a:hover{
      cursor: pointer;
      transition: 1s ease;
      color: #F64C72;
  }
  
  
  .nav4 a{
    position: absolute;
    top: 20px;
    left: 1150px;
    color: #EDF5E1;
    font-size: 20px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav4 a:hover{
      cursor: pointer;
      transition: 1s ease;
      color: #F64C72;
  }
  
  
  /****************Navbar End************** */






   /****************Body Start************** */

.text1{
  position: absolute;
  top: 80px;
  color:#F64C72;
  font-size: 60px;
  font-weight: 600;
  left: 120px;
  font-family:monospace;
}

.text2{
  position: absolute;
  top: 160px;
  color:#EDF5E1;
  font-size: 22px;
  font-weight: 600;
  left: 120px;
  font-family:monospace;
}

.map{
  position: absolute;
  top: 120px;
  left: 620px;
}

.text3{
  position: absolute;
  width: 400px;
  height: 350px;
  background-color: #242582;
  top: 250px;
  left: 120px;
}

.tex1{
  color: #EDF5E1;
  font-size: 23px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 150px;
}

.tex2{
  color: #F64C72;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 120px;
}

.tex3{
  color: #EDF5E1;
  font-size: 23px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 150px;
}

.tex4{
  color: #F64C72;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 70px;
}

.tex5{
  color: #EDF5E1;
  font-size: 23px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 120px;
}

.tex6{
  color: #F64C72;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 80px;
}


/****************Body End************** */










/****************Footer Start************** */

.nav3-bg{
  position: relative;
  width: 1348px;
  height: 380px;
  background-color: #242582;
  margin-top: -20px;
  margin-bottom: 0px;
}

.footerimg2{
  position: absolute;
  top: 40px; 
  right: 100px;
}

.footertext1{
  position: absolute;
  top: 50px;
  left: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #EDF5E1;
  font-size: 40px;
}

.footertext1:hover{
  cursor: pointer;
}

.footertext2 a{
  position: absolute;
  top: 120px;
  left: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #EDF5E1;
  text-decoration: none;
}

.footertext2 a:hover{
  cursor: pointer;
  transition: 1s ease;
  color: #F64C72;
}

.footertext3 a{
  position: absolute;
  top: 170px;
  left: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.footertext3 a:hover{
  cursor: pointer;
  transition: 1s ease;
  color: #F64C72;
}

.footertext4 a{
  position: absolute;
  top: 220px;
  left: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.footertext4 a:hover{
  cursor: pointer;
  transition: 1s ease;
  color: #F64C72;
}

.footertext5 a{
  position: absolute;
  top: 270px;
  left: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.footertext5 a:hover{
  cursor: pointer;
  transition: 1s ease;
  color: #F64C72;
}

.copyrighttext{
  position: absolute;
  color:#EDF5E1;
  top: 940px;
  left: 440px;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/****************Footer End************** */

   